@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');

table {
  background-color: #000;
  display: block;
  padding-left: 16px;
}

img {
  border: 2px solid #fff;
  width: 250px;
}

h1 {
  color: #fff;
  font-family: 'Darker Grotesque',
  sans-serif;
  text-align: center;
}

input {
 border-bottom: 1px solid #000;
 border-left: none;
 border-right: none;
 border-top: none;
 font-size: 24px;
 display: block;
 width: 99%;
 padding-top: 10px;
 padding-bottom: 1px;
 padding-left: 10px;
}

.loading {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.Border {
  display: block;
  border: 2px solid #fff;
}
